html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;

    padding: 0px;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    min-width: 400px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#konva-container {
    flex: 1;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    aspect-ratio: 400 / 400;

    border-color: var(--pico-color);
    border-width: 1px;
    border-style: solid;
}

.bar {
    flex-shrink: 0;

    width: 100%;
    max-width: 400px;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-weight: 500;
}

@media (min-width: 1020px) {
    .bar {
        height: 120px;
    }
}

input {
    max-width: 85px;
}

.large {
    & input {
        max-width: 150px;
    }
}

button {
    max-width: 50px;
}
