html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;

    padding: 0px;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#konva-container {
    flex: 1;
    /* height: calc(100vh - 300px); Subtracts .bar heights */
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    aspect-ratio: 400 / 400;

    border-color: var(--pico-color);
    border-width: 1px;
    border-style: solid;
}

.bar {
    flex-shrink: 0;

    width: 100%;
    height: 150px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    font-weight: 500;

    & input {
        max-width: 100px;
    }
}
